<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Enroll_FE_English.Corporate_Regn_Approved_Backup</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>basic_details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>view_enroll</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enrol</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Corporate_Approval</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Request_Menu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Terms_Conditions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Approval</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endTest</td>
<td>&nbsp;</td></tr>
</table>
