<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Super_Admin.Enroll_SA_x1_room_types</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>basic_details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>photo_gallery</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_Hotel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>contact_details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>finance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>room_type</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>social_media</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endTest</td>
<td>&nbsp;</td></tr>
</table>
