<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Namlatic</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.startTest()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">startTest</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.photo_gallery()[pri:5, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">photo_gallery</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.login()[pri:1, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">login</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.basic_details()[pri:3, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">basic_details</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.contact_details()[pri:4, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">contact_details</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.finance()[pri:8, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">finance</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.Add_Hotel()[pri:2, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">Add_Hotel</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:25</td>   <td>-1401</td> <td>&nbsp;</td><td title="&gt;&gt;Enroll_SA_x1_room_types.declaration()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&gt;&gt;declaration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.room_type()[pri:6, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">room_type</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Enroll_SA_x1_room_types.social_media()[pri:7, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">social_media</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endMethod()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>21/09/15 15:24:26</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Enroll_SA_x1_room_types.endTest()[pri:0, instance:Super_Admin.Enroll_SA_x1_room_types@18df8434]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
